body {
   font-family: "Arial", "Helvetica" , sans-serif;
}

  nav {
    float: left;
    width: 8%;
}

nav ul {
     margin: 30px;
     padding: 5px;
     width: 90%;
     background: white;
     background-color: #000000;
     
}

nav li {
     position: relative;
     list-style: none;
     margin: 0;
}

nav ul ul {
    position: absolute;
    top: -35px;
    left: 85px;
    display: none;
}

nav li a {
    display: block;
    padding: 5%;
    text-decoration: none;
    color: #ffffff;
}

nav li:hover {
    background: #FFFF00;
	color: black;
}

nav li.submenu:hover {
    background-color: #FFFF00;
	color: black;
}

nav ul.level1 li.submenu:hover ul.level2,
nav ul.level2 li.submenu:hover ul.level3 {
    display:block;
	color: black;
}


section#sinistra {
  margin: 5px;
  width: 80%;
  position: relative;
  top: 20px;
  left: 200px;
  }

 section#destra {
  margin: 5px;
  width: 50%;
  position: relative;
  top:-220px;
  left: 600px;
  }

parola {
  background-color: #000000;
  color: #FFFF00;
}

parola2 {
  font-weight: bold;
}

a#collegamento {
  background-color: #000000;
  color: #FFF000;
}

footer {
  color: #000000;
}

titlefooter {
  font-weight: bold;
}

@media screen and (max-width:800px) {
  nav {
    float: none;
	width: 50%;
  }
  section#sinistra {
    float: center;
	width: 100%;
  }
  section#destra {
    float: center;
	width: 100%
  }
}
  