
.navbar{
	display:flex;
	flex-direction:row;
	text-align:center;
}
.navbar a{
	font-family:'Poppins', sans-serif;
	font-size:11pt;
	color:white;
	padding:15px 15px;
	text-decoration:none;
}
.navbar a:hover{
	color:#64398E;
}
.flex-container{
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-top:160px;
}
.flex-container > div {
	display:flex;
	justify-content:center;
}
summary h1{
	font-family:'Poppins', sans-serif;
	font-size:45pt;
	color:white;
	text-align:center;
	margin:20px;
}
summary p{
	font-family:'Poppins', sans-serif;
	font-size:15pt;
	color:white;
	text-align:center;
	margin:0px;
}
button{
	margin:40px;
	background:none;
	outline:none;
	cursor:pointer;
	padding:10px 20px;
	border:solid 3px white;
	border-radius:250px;
	font-family:'Poppins', sans-serif;
	font-size:12pt;
	color:white;
	text-align:center;
	text-decoration:none;	
}
button a:link{
	text-decoration:none;	
}
button:hover{
	border:solid 3px #64398E;
	border-radius:250px;
	color:#64398E;
}