body {
  font-family: "Arial", sans-serif;
}
  
  section#sinistra {
  margin: 5px;
  width: 80%;
  position: relative;
  top: 80px;
  left: 0px;
  }

 section#destra {
  margin: 5px;
  width: 80%;
  position: relative;
  top: -185px;
  left: 300px;
  }

nav {
  background-color: #000000;
  width: 100%;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: "Arial", "Helvetica", sans-serif;
}

li#menu {
  display: inline;
  color: #FFFFFF;
}

li#separatore {
  display: inline;
  color: #FFFFFF;
}

li#menu:hover {
  background-color: #FFFF00;
  color: #000000;
}

parola {
  background-color: #000000;
  color: #FFFF00;
}

parola2 {
  font-weight: bold;
}

a#collegamento {
  background-color: #000000;
  color: #FFF000;
}

footer {
  background-color: #000000;
  color: #FFF000;
}

titlefooter {
  font-weight: bold;
}