testo {
  font-family: "Arial", sans-serif;
  font-size: 10pt;
}

l {
  font-family: "Arial", sans-serif;
  font-size: 10pt;
  color:#006400;
  font-variant: small-caps;
}

l1 {
  font-family: "Arial", sans-serif;
  font-size: 7pt;
  color:#006400;
} 

h5 {
  font-family: "Arial", sans-serif;
  font-size: 8pt;
  font-weight: bold;
}

p {
  font-family: "Arial", sans-serif;
  font-size: 13pt
}

h6 {
  font-family: "Arial", sans-serif;
  font-size: 7pt
}

linea {
  color:#006400;
}

nomi {
  font-weight: bold;
  color: #006400;
}