testo {
  font-family: "Times New Roman", Times, serif;
  font-size: 11pt;
}

l {
  font-family: "Times New Roman", Times, serif;
  font-size: 11pt;
  text-decoration: none;
  color:#00008B;
}

l1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 8pt;
  color:#00008B;
} 

h5 {
  font-family: "Times New Roman", Times, serif;
  font-size: 9pt;
  font-weight: bold;
}

p {
  font-family: "Times New Roman", Times, serif;
  font-size: 14pt
}

h6 {
  font-family: "Times New Roman", Times, serif;
  font-size: 8pt
}