body{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");
}
.navbar{
	display:flex;
	flex-direction:row;
	text-align:center;
}
.navbar a{
	font-family:'Poppins', sans-serif;
	font-size:11pt;
	color:white;
	padding:15px 15px;
	text-decoration:none;
}
.navbar a:hover{
	color:#64398E;
}
.img-container1{
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	margin-top:5%;
	text-align: center;
	padding:10px;
	gap:50px;	
}
button{
	margin:40px;
	background:none;
	outline:none;
	cursor:pointer;
	padding:10px 20px;
	border:solid 3px white;
	border-radius:250px;
	font-family:'Poppins', sans-serif;
	font-size:12pt;
	color:white;
	text-align:center;
	text-decoration:none;	
}
button a:link{
	text-decoration:none;	
}
button a{
  color:white;
}
button:hover {
  border: solid 3px #64398e;
  border-radius: 250px;
  color: #64398e;
}
@media (max-width:800px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");
}
}
@media (max-width:600px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");	
}
}
@media (max-width:480px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");
}
}
@media (min-width:481px) and (max-width: 1024px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");	
}
}
@media (max-width:800px){
.navbar{
	flex-direction:column;	
}
}
@media (max-width: 480px) {
.navbar{
	flex-direction:column;	
}
}
@media (min-width: 481px) and (max-width: 1024px) {
.navbar{
	flex-direction:column;	
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.navbar a{
		font-family:'Poppins', sans-serif;
		font-size:16pt;
		color:white;
		padding:15px 15px;
		text-decoration:none;	
}
}
@media screen and (max-width: 1024px) and (min-width: 600px){
.img-container1{
	display:grid;
	grid-template-columns:auto auto auto;
	padding:10px;
	gap:20px;
}
}
@media screen and (max-width: 601px) and (min-width: 480px){
.img-container1{
	display:grid;
	grid-template-columns:auto auto;
	padding:10px;
	gap:20px;
}
}
@media screen and (max-width: 481px) and (min-width: 200px){
.img-container1{
	display:grid;
	grid-template-columns:auto;
	padding:10px;
	gap:20px;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.bottone button{
		margin:0px;
		background:none;
		outline:none;
		cursor:pointer;
		padding:10px 20px;
		border:solid 3px white;
		border-radius:250px;
		font-family:'Poppins', sans-serif;
		font-size:16pt;
		color:white;
		text-align:center;
		text-decoration:none;	
}
}