body{
background-image:url("https://i.imgur.com/pVX5zK7.jpeg");
}
.navbar{
	display:flex;
	flex-direction:row;
	text-align:center;
}
.navbar a{
	font-family:'Poppins', sans-serif;
	font-size:11pt;
	color:white;
	padding:15px 15px;
	text-decoration:none;
}
.navbar a:hover{
	color:#64398E;
}
.flex-container{
	display:grid;
	grid-template-columns:auto auto auto;
	justify-content:center;
	padding:45px;
	margin-top:0px;
	row-gap:50px;
}
.immagini{
	display:grid;
	grid-template-columns:auto auto auto;
	grid-column: 1 / 4;
	gap:50px;
	justify-content:center;
}
.immagini img{
  width:250px;
}
.testo{
  display:grid;
  grid-column: 1 / 4;
  justify-content:center;
}
.testo p{
  font-family:'Poppins', sans-serif;
  font-size:15pt;
  color:white;
  text-align:center;
  margin:0px;
}
.bottone{
    display:grid;
    grid-column: 1 / 4;
	justify-content:center;
}
.bottone button{
	margin:0px;
	background:none;
	outline:none;
	cursor:pointer;
	padding:10px 20px;
	border:solid 3px white;
	border-radius:250px;
	font-family:'Poppins', sans-serif;
	font-size:12pt;
	color:white;
	text-align:center;
	text-decoration:none;	
}
button a:link{
	text-decoration:none;	
}
button a{
  color:white;
}
button:hover {
  border: solid 3px #64398e;
  border-radius: 250px;
  color: #64398e;
}
@media (max-width:800px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");
}
}
@media (max-width:600px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");	
}
}
@media (max-width:480px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");
}
}
@media (min-width:481px) and (max-width: 1024px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");	
}
}
@media (max-width:800px){
.navbar{
	flex-direction:column;	
}
}
@media (max-width: 480px) {
.navbar{
	flex-direction:column;	
}
}
@media (min-width: 481px) and (max-width: 1024px) {
.navbar{
	flex-direction:column;	
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.navbar a{
		font-family:'Poppins', sans-serif;
		font-size:16pt;
		color:white;
		padding:15px 15px;
		text-decoration:none;	
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.flex-container{
		display:grid;
		grid-template-columns:auto auto auto;
		justify-content:center;
		padding:45px;
		margin-top:0px;
		row-gap:30px;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.immagini{
		display:grid;
		grid-column: 1 / 4;
		justify-content:center;
		column-gap:20px;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.immagini img{
	  width:250px;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.testo{
	  display:grid;
	  grid-column: 1 / 4;
	  justify-content:center;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.testo p{
	  font-family:'Poppins', sans-serif;
	  font-size:16pt;
	  color:white;
	  text-align:center;
	  margin:0px;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.bottone button{
		margin:0px;
		background:none;
		outline:none;
		cursor:pointer;
		padding:10px 20px;
		border:solid 3px white;
		border-radius:250px;
		font-family:'Poppins', sans-serif;
		font-size:16pt;
		color:white;
		text-align:center;
		text-decoration:none;	
}
}