body{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");
}
.navbar{
	display:flex;
	flex-direction:row;
	text-align:center;
}
.navbar a{
	font-family:'Poppins', sans-serif;
	font-size:11pt;
	color:white;
	padding:15px 15px;
	text-decoration:none;
}
.navbar a:hover{
	color:#64398E;
}
.flex-container{
	display:grid;
	grid-template-columns:40% 60%;
	gap:10px;
	padding:100px;
}
.img-container {
	display:grid;
	justify-content:center;
	grid-row: 1/4;
	margin-top:15%;
}
.info {
	justify-content:left;
	margin-top:5%;
	font-family:'Poppins', sans-serif;
	color:white;
	text-align:left;
}
.info h1{
	font-family:'Poppins', sans-serif;
	font-size:30pt;
	margin-bottom:5px;
}
.info h2{
	font-family:'Poppins', sans-serif;
	font-size:15pt;
	margin-top:5px;
	margin-bottom:5px;
}
.bio {
    justify-content:left;
	font-family:'Poppins', sans-serif;
	font-size:13pt;
	color:white;
}
@media (max-width:800px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");
}
}
@media (max-width:600px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");	
}
}
@media (max-width:480px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");
}
}
@media (min-width:481px) and (max-width: 1024px){
body{
	background-image:url("https://i.imgur.com/pVX5zK7.jpeg");	
}
}
@media (max-width:800px){
.navbar{
	flex-direction:column;	
}
}
@media (max-width: 480px) {
.navbar{
	flex-direction:column;	
}
}
@media (min-width: 481px) and (max-width: 1024px) {
.navbar{
	flex-direction:column;	
}
}
@media (min-width: 481px) and (max-width: 1024px) {
	.navbar a{
		font-family:'Poppins', sans-serif;
		font-size:16pt;
		color:white;
		padding:15px 15px;
		text-decoration:none;	
}
}
@media (max-width:800px){
.flex-container{
	display:grid;
	grid-template-columns:auto auto;
	padding:20px;
	gap:40px;
}
}
@media (max-width:600px){
.flex-container{
	display:grid;
	grid-template-columns:auto auto;
	padding:20px;
	gap:40px;
	
}
}
@media (max-width: 480px) {
.flex-container{
	display:grid;
	grid-template-columns:auto;
	padding:20px;
	gap:40px;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
.flex-container{
	display:grid;
	grid-template-columns:auto;
	padding:20px;
	gap:40px;
}
}
@media (max-width: 480px) {
.info{
	display:grid;
	grid-template-columns:auto;
	text-align:center;
	justify-content:center;	
}
}
@media (min-width: 481px) and (max-width: 1024px) {
.info{
	display:grid;
	grid-template-columns:auto;
	text-align:center;
	justify-content:center;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
.info h1{
	font-family:'Poppins', sans-serif;
	font-size:30pt;
	color:white;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
.info h2{
	font-family:'Poppins', sans-serif;
	font-size:20pt;
	color:white;
}
}
@media (min-width: 481px) and (max-width: 1024px) {
.bio p{
	font-family:'Poppins', sans-serif;
	font-size:16pt;
	color:white;
}
}